html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;

    background-color: #ffffff;    
}
a {
    text-decoration: none;
    color: #ffffff;

}
.main-header{
    height:100%;
    background-color: #ffffff;
    background-image: url("../img/background-blue.png");
    background-repeat: repeat;
   
}
.user-navigation ul,
.user-actions ul,
.delivery-companies-list,
.footer-site-navigation,
.footer-offers-navigation,
.footer-social ul,
.catalog-navigation ul,
.filter-form ul
 {
    list-style: none;
    padding:0;
    margin:0;
}

.main-interactive-bar-wrapper {
    background-color: #293349;
}
.main-interactive-bar {
    display: flex;
    margin: 0 auto;  
    width: 940px;
    min-height: 42px;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}
.main-interactive-bar .main-logo {
    margin-bottom: -5px; 
    width: 220px;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #ed3543;
    box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}
.main-search{
    position: relative;
    width: 270px;
}
.search-button {
    position: absolute;
    background: transparent;
    border: none;
    top: 50%;
    left: 15px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    opacity: 0.3;
    z-index: 1;

}

.main-search input{
    position: relative;
    width: 100%;
    height: 100%; 
    padding-left: 45px;
    padding-right: 30px;
    color: #fff;    
    background-color: transparent;
    border:none;
}
.main-search:hover{
    background-color: #212a3a;
}
form:hover input + .search-button{
    opacity: 1;
}
.main-search input:focus + .search-button path{
    fill: #ee3643;
}
.main-search input:focus + .search-button{
    opacity: 1;
}
.main-search input::placeholder {
    color: #ffffff;
  }
.main-search input::-webkit-input-placeholder {color:#ffffff;}
.main-search input::-moz-placeholder {color:#ffffff; opacity: 1;}
.main-search input:-ms-input-placeholder {color:#ffffff;}
  	
.main-search input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
.main-search input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.main-interactive-bar a {
    font-size: 17px;
    min-width: 159px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.main-search input:focus{
    background-color: #ffffff;
    color: #000;
    outline: none;
}

.main-logo:hover,
.main-logo:focus{
    background-color: #ca2b36;
}
.main-logo:active{
    background-color: #ba2731;
}
.main-bookmarks{
    position: relative;
    padding-left: 40px;
    padding-right: 15px;
}
.main-bookmarks::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }
.main-bookmarks:hover:before,
.main-bookmarks:focus::before{
    opacity: 1;
}
.main-bookmarks:active:before{
    opacity: 0.5;
}
.main-basket{
    position: relative;
    padding-left: 50px;
    padding-right: 30px;
}
.main-basket::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    width: 18px;
    height: 19px;
    transform: translateY(-50%); 
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }
.main-basket:hover:before,
.main-basket:focus::before{
    opacity: 1;
}
.main-basket:active:before{
    opacity: 0.5;
}
.main-bookmarks:hover,
.main-basket:hover{
    background-color: #212939;
}
.main-bookmarks:active,
.main-basket:active{
    background-color: #161d29;
    opacity: 0.6;
}
.main-make-order{
    background-color: #63a63e;
}
.main-make-order:hover,
.main-make-order:focus{
    background-color: #5fbb2d;;
}
.main-make-order:active {
    background-color: #508534;
    opacity: 0.5;    
}
.main-header-wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 940px;
    padding: 42px 0;
   
}
.main-header-wrapper h1{
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #EE3643;
    width: 100%;
    margin:0;
    padding: 0px 0px 0px 50px; 
    display: inline-flex;

}
.adress_wrapper {
    width: 100%;
    margin: 0;
    margin-right: 20px;
}
.main-phone {
    position: relative;
    font-size: 21px;
    line-height: 21px;
    padding: 12px 50px 12px 70px;

    color: #EE3643;
    border: 3px solid #ffffff;
    display: inline-block;
}
.main-phone::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); 
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}
.adress_wrapper address{
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    margin: 0px 15px;
    color: #32425c;
    
    display: inline-block;
}
.login-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    margin: 0;

}
.login-list li{
    background-color: #fff;
    font-size: 21px;
    line-height: 21px;
    padding:10px 25px;
    
}
.login-list .login-link {
    position: relative;
    padding-left: 40px;
    margin-right: 10px;
}
.login-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); 
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.login-link:hover:before,
.login-link:focus::before{
    color: #32425c;
}
.login-link:active:before{
    opacity: 0.5;
}


.site-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 60px auto; 

    width: 940px;
    height: 60px;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}
.site-navigation a{
    height:100%;
    min-width: 127px;
    padding: 0 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.site-navigation a:hover,
.site-navigation a:focus{
    background-color:#293449;
}
.site-navigation a:active{
    opacity: 0.5;
    background-color: #1d2739;
}

.user-navigation {
    display:flex;
    width: 100%;
    margin-bottom: 22px;
  }
.login-list {
    padding: 0;
    display: flex;
}
.main-adress {
    width: 270px;
    height: 17px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    color: #32425C;
}
.nameplates{
    display:flex;
    width: 940px;
    margin: 0 auto;
}
.nameplates-materials{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px 0px;
    width:620px;
}
.materials{
    position: relative;
    width: 300px;
    min-height:125px;
    background-color: #ffbf47;
}
.nameplates p{
    font-size: 24px;
    line-height: 30px;
    color:#fff;
    margin-left: 20px;
    margin-top:20px;
}
.nameplates button {
    border:none;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width:135px;
    height:38px;
    margin-left:24px;
    color: #fff;
    background-color: #000;
    opacity: 0.1;
    border-radius: 3px;

}
.nameplates button:hover,
.nameplates button:focus{
    opacity: 0.2; 
}
.nameplates button:active{
    opacity: 0.3; 
}
.materials .flag{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.materials .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}
.instruments{
    width: 300px;
    min-height:125px;
    background-color: #3bbce3;
}
.slider{
    margin-top: 20px;
}
.nameplates-offers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px 0px 60px 20px;
    width: 300px;
}
.equipment{
    width: 300px;
    min-height:125px;
    background-color: #dc91d8;
    ;
}
.sales{
    width: 300px;
    min-height:125px;
    background-color: #8ed78f;
}
.shipment{
    width: 300px;
    min-height:125px;
    background-color: #ffc047;
}
.popular-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 20px auto;
    width: 940px;
    
}
.popular-items-head{
    display: flex; 
    width: 940px;
    background-color: #f7f3ec;

}
.popular-items-list{
    display: flex;
    width: 100%;
    

}
.user-actions{
    display: flex;
    width: 100%;
}
.user-actions-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.user-profile-name {
    position: relative;
    font-size: 21px;
    line-height: 21px;
    padding: 15px 0 15px 50px ;
    width: 100%;
    background-color: #fff;
}
.user-profile-name::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); 
    background-image: url("../img/icon-user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-profile-name:hover::before,
.user-profile-name:focus::before{
    background-image: url("../img/icon-user-blue.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-profile-name:active::before{
    background-image: url("../img/icon-user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-profile-name::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 260px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); 
    background-image: url("../img/icon-logout.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-profile-name:hover::after,
.user-profile-name:focus::after{
    background-image: url("../img/icon-logout-blue.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-profile-name:active::after{
    background-image: url("../img/icon-logout.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-orders-link {
    padding-left: 20px;
    padding-right: 30px;
}

.user-navigation a:hover,
.user-navigation a:focus{
    color:#EE3643;
}
.user-navigation a:active{
    color:#000000;
    opacity:0.3;
}
.user-actions a {
    font-size: 16px;
    line-height: 18px;
    color: #32425C;
    text-decoration: underline;
}
.user-profile-name a{
    font-size: 21px;
    line-height: 21px;
    color: #000;
    text-decoration: none;
}
.user-navigation a,
.user-actions .user-profile-link a{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}
.user-actions a:hover,
.user-actions a:focus{
    color:#EE3643;
}
.user-actions a:active{
    color: #32425C;
    opacity:0.3;
}
.user-profile-name a:hover,
.user-profile-name a:focus{
    color: #000;
}
.company-contacts-wrapper{
    display: flex;
    justify-content: space-between;

    width: 940px;
    margin: 0 auto;
}
.main-footer {
    background-color: #32425c;
}
.main-footer .main-logo{
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-right: 170px;
    height: auto;
    background-color: #ed3543;
    box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}
.footer-site-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.footer-side-information-wrapper {
    background-color: #293349;
}
.footer-adress,
.footer-phone {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    display: inline-flex;
    width:320px;
}
.footer-site-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: #F1F5F7;
}
.footer-site-navigation a:hover,
.footer-site-navigation a:focus{
    text-decoration: underline; 
}
.footer-site-navigation a:active {
    opacity:0.5;
    text-decoration: none;
}
.footer-offers-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: #FFD180;
}
.footer-offers-navigation a:hover,
.footer-offers-navigation a:focus{
    text-decoration: underline;
}
.footer-offers-navigation a:active{
    opacity:0.5;
    text-decoration: none;
}
.footer-copyright ,
.footer-contact {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}
.footer-copyright a,
.footer-contact a{
    font-size: 16px;
    line-height: 18px;
    color: #FFD180;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
    text-decoration: underline;
}
.footer-copyright a:active {
    color:#EE3643;
    text-decoration: none;
}
.footer-company-rights {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    width: 230px;

}
.footer-navigation-wrapper{
    display: flex;
    min-height: 68px;
    width: 940px;
    margin: 0 auto;

}
.footer-site-navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    width: 100%;
}
.footer-offers-wrapper{
    display: flex;
    min-height: 65px;
    width: 940px;
    margin: 35px auto 55px auto;

}
.footer-offers-navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-side-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 105px;
    width: 940px;
    margin: 0 auto;
}
.footer-side-information p{
    padding: 0;
    margin: 0;
}
.footer-adress-wrapper{
    height: auto;
    padding-right:75px;
}
 
/* Что касается каталога*/
.catalog-navigation a{
    font-family: PTSans, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color:#000000;
}
.name-catalog-page{
    display: flex;
    align-items: center;
    width: 940px;
    height:89px;
    margin: 0 auto 20px auto;
    padding-left:30px;

    font-size: 30px;
    line-height: 30px;
    color:#32425c;

    background-color: #f2f6f8;  
}
.filters p{
    font-size: 13px;
    line-height: 18px;
    color:#000000;
    margin:0;
    height: 40px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f7f3ec;
}
.filters legend{
    font-family: PTSans, sans-serif;
    font-size: 17px;
    line-height: 30px;
    color:#000000;
}
.filter-form li{
    font-family: PTSans, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color:#000000;
}
.catalog-navigation ul{
    display: flex;
    width: 940px;
    margin: 0 auto;
}
.catalog-navigation li{
    margin:25px 40px;
}
.catalog-wrapper{
    display: flex;

    width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.sorting-catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
}
.catalog-item{
    position: relative;
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    line-height: 20px;
    font-weight: bold;
    text-align: center;
  
    border: 1px solid #ccc;
}
.catalog-item .flag{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-item img{
    max-width: 100%;
}
.catalog-item h3 {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.catalog-item .discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    
    color: #999;
    text-decoration: line-through;
}
.catalog-item .price {
    position: relative;
    width: 140px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.catalog-item .price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
}

.catalog-item-actions {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 218px;
    height: 150px;
    padding: 40px 0;
  
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
.catalog-item-actions .button-buy,
.catalog-item-actions .button-bookmarks{
    display: block;
    width: 129px;
     margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
  
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius:3px;
  
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-transform: uppercase;
}
.catalog-item-actions .button-bookmarks{
    color: #32425c;
    background: white;
    border-color: #63a63e;
}
.catalog-item-actions {
    display: none;
}
.catalog-item:hover .catalog-item-actions {
    display: block;
}
.catalog-item:nth-child(3n) {
    margin-right: 0;
}
.catalog-list {
    font-size: 0;
  }
  
.catalog-item {
    font-size: 16px;
}
.filters {
    display: flex;
    flex-direction: column;
    flex-basis: 220px;
    margin-right: 20px;
}
.filters fieldset{
    padding: 0;
    margin: 0;
    border: none;
}
.sorting{
    display:flex;
    min-height: 38px;
    width:100%;
    background-color: #f7f3ec;
}
.sorting p{
    font-size: 13px;
    line-height: 18px;
}
.visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.write-us-popup {
    display: none;
}
.big-map-popup {
    display: none;
}
.catalog-cart-popap{
    display: none;   
}
